a
    display: inline-block
    margin: 1px auto 4px
    padding: 1px
    width: 260px
    font-family: Roboto-Light
    font-size: 12px
    text-decoration: none
    outline: 0
    text-align: center
    justify-content: center

    &:hover,
    &:focus
        color: $accent

.darkLink
    color: $dark

.lightLink
    color: $light

   